.playerChoice {
    margin-top: 100px;
  }
  
  .roomName {
    margin-top: 50px;
  }
  
  .rpsChoice {
    width: 120px;
    height: 120px;
  }
  
  .judgement {
    margin-top: 330px;
    margin-left: 35px;
  }
  
  .refresher {
    margin-top: 150px;
  }
  